*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: MSS;
}
body{
    height: 100vh;
    overflow-y: hidden;
}
@font-face{
    font-family: MSS;
    src: url('../fonts/MSS.ttf');
}
#background{
    position: absolute;
    z-index: 0;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
#work-place{
    width: 100vw;
    height: 100vh;
}
#bar-shadow{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 6vh;
    bottom: 0vh;
    box-shadow: 0 0 2vh rgba(34, 34, 34, 0.5);
}
#windows-bar{
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 6vh;
    bottom: 0vh;
    background-color: rgba(255, 237, 136, 0.8);
    overflow-x: scroll;
    overflow-y: hidden;
}
#windows-bar::-webkit-scrollbar-track {
    background-color: transparent;
}
#windows-bar::-webkit-scrollbar {
    width: 1vh;
    height: 0vh;
    background: transparent;
}
#windows-bar::-webkit-scrollbar-thumb {
    background:rgb(20, 20, 20);
    border-radius: 1vh;
}
#internet{
    display: inline-block;
    width: 6vh;
    height: 3.4vh;
    padding: 1.75vh 2vh 0 0;
    position: absolute;
    z-index: 4;
    right: 11vh;
}
#internet img{
    width: 3vh;
    height: 3vh;
    transform: rotate(-45deg);
}
#lang{
    display: inline-block;
    width: 6vh;
    height: 4.1vh;
    padding: 1.65vh 2vh 0 0;
    font-size: 2.2vh;
    position: absolute;
    z-index: 4;
    right: 6.5vh;
    color: #222;
}
#hour{
    display: inline-block;
    width: 4vh;
    height: 4.1vh;
    padding: 1.65vh 4vh 0 0;
    font-size: 2.2vh;
    position: absolute;
    z-index: 4;
    right: 0;
    color: #222;
}
#windows-icon-holder{
    height: 6vh;
    width: 9.5vh;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
#windows-icon{
    padding: 1.25vh 3.5vh 1.25vh 2.5vh;
    height: 3.5vh;
    width: 3.5vh;
    cursor: pointer;
    transition: 0.2s;
}
#windows-menu{
    overflow: hidden;
    position: absolute;
    z-index: 3;
    width: 100vw;
    max-width: 60vh;
    height: 0vh;
    bottom: 6vh;
    background-color: rgba(255, 237, 136, 0.8);
    box-shadow: 0 0 2vh rgba(34, 34, 34, 0.5);
    transition: 0.3s;
    opacity: 0;
}
#left-app-bar{
    width: 9.5vh;
    height: 100%;
    background-color: rgba(20, 20, 20, 1);
    display: inline-block;
}
.app-icon{
    width: 14vh;
    height: 11vh;
    padding-top: 1vh;
    border: 0.1vh solid transparent;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    z-index: 1;
}
.app-icon-padding{
    padding: 1.4vh;
    width: 14.2vh;
    height: 12.2vh;
}
.app-icon img{
    width: 6vh;
}
.app-icon p{
    padding-top: 1vh;
    font-size: 1.7vh;
    color: #eee;
    text-shadow: 0 0 1vh black;
}
.left-app{
    width: 9.5vh;
    height: 6.750vh;
    padding-top: 3vh;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    transition: 0.2s;
}
.left-app:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.left-app img{
    height: 3.5vh;
}
.menu-app{
    height: 15vh;
    width: 15vh;
    background-color: #222;
    display: inline-block;
    position: absolute;
    z-index: 3;
    transition: 0.2s;
    cursor: pointer;
}
.menu-app:hover{
    background-color: #444;
}
.menu-app img{
    height: 6vh;
    width: 6vh;
    margin: 2.5vh 0 0 4.5vh;
}
.menu-app p{
    width: 100%;
    text-align: center;
    font-size: 1.8vh;
    padding-top: 0.5vh;
    color: #fff;
}