*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: MSS;
}
form{
    display: inline-block;
    vertical-align: middle;
}
body{
    height: 100vh;
    overflow-y: hidden;
}
@font-face{
    font-family: MSS;
    src: url('../fonts/MSS.ttf');
}
@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes swing{
    0%{margin-left: -2vh;}
    10%{margin-left: 2vh;}
    20%{margin-left: 0vh;}
    90%{margin-left: 0vh;}
}
#background{
    position: absolute;
    z-index: 0;
    background-image: url('../img/lock-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
#work-place{
    width: 100vw;
    height: 100vh;
    transition: 0.4s;
}
#bar-shadow{
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 6vh;
    top: 94vh;
    box-shadow: 0 0 2vh rgba(34, 34, 34, 0.5);
}
#windows-bar{
    position: absolute;
    z-index: 4;
    width: 100vw;
    height: 6vh;
    top: 94vh;
    background-color: rgba(255, 237, 136, 0.8);
    overflow-x: scroll;
    overflow-y: hidden;
}
#windows-bar::-webkit-scrollbar-track {
    background-color: transparent;
}
#windows-bar::-webkit-scrollbar {
    width: 1vh;
    height: 0vh;
    background: transparent;
}
#windows-bar::-webkit-scrollbar-thumb {
    background:rgb(20, 20, 20);
    border-radius: 1vh;
}
#open-program{
    height: 5.5vh;
    width: 6vh;
    border-bottom: 0.5vh solid #222;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    transition: 0.4s;
    opacity: 0;
}
#open-program img{
    height: 3.5vh;
    width: 3.5vh;
    padding-top: 1.25vh;
}
#internet{
    display: inline-block;
    width: 6vh;
    height: 3vh;
    padding: 1.75vh 2vh 0 0;
    position: absolute;
    z-index: 5;
    right: 11vh;
}
#internet img{
    width: 3vh;
    height: 3vh;
    transform: rotate(-45deg);
}
#lang{
    display: inline-block;
    width: 6vh;
    height: 4.1vh;
    padding: 1.65vh 2vh 0 0;
    font-size: 2.2vh;
    position: absolute;
    z-index: 4;
    right: 6.5vh;
    color: #222;
}
#hour{
    display: inline-block;
    width: 4vh;
    height: 4.1vh;
    padding: 1.65vh 4vh 0 0;
    font-size: 2.2vh;
    position: absolute;
    z-index: 4;
    right: 0;
    color: #222;
}
#windows-icon-holder{
    height: 6vh;
    width: 9.5vh;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
#windows-icon{
    padding: 1.25vh 3.5vh 1.25vh 2.5vh;
    height: 3.5vh;
    width: 3.5vh;
    cursor: pointer;
    transition: 0.2s;
}
#windows-menu{
    overflow: hidden;
    position: absolute;
    z-index: 3;
    width: 100vw;
    max-width: 60vh;
    height: 0vh;
    top: 100vh;
    background-color: rgba(255, 237, 136, 0.6);
    box-shadow: 0 0 2vh rgba(34, 34, 34, 0.5);
    transition: 0.3s;
    opacity: 0;
}
#left-app-bar{
    width: 9.5vh;
    height: 100%;
    background-color: rgba(20, 20, 20, 1);
    display: inline-block;
}
.app-icon{
    width: 14vh;
    height: 11vh;
    padding-top: 1vh;
    border: 0.1vh solid transparent;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    z-index: 1;
}
.app-icon-padding{
    padding: 1.4vh;
    width: 14.2vh;
    height: 12.2vh;
}
.app-icon img{
    width: 6vh;
}
.app-icon p{
    padding-top: 1vh;
    font-size: 1.7vh;
    color: #eee;
    text-shadow: 0 0 2vh black;
}
.left-app{
    width: 9.5vh;
    height: 6.750vh;
    padding-top: 3vh;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    transition: 0.2s;
}
.left-app:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.left-app img{
    height: 3.5vh;
}
.menu-app{
    height: 14.2vh;
    width: 14.2vh;
    background-color: #222;
    display: inline-block;
    position: absolute;
    z-index: 3;
    transition: 0.2s;
    cursor: pointer;
    border: 0.4vh solid #222;
}
.menu-app:hover{
    border: 0.4vh solid #888;
}
.menu-app img{
    height: 6vh;
    width: 6vh;
    margin: 2.5vh 0 0 4.5vh;
}
.menu-app p{
    width: 100%;
    text-align: center;
    font-size: 1.7vh;
    line-height: 2vh;
    padding-top: 0.5vh;
    color: #fff;
}
#lock-password{
    position: absolute;
    z-index: 20;
    background-image: url('../img/lock-background.jpg');
    background-size: cover;
    background-position: center;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    transition: 0.4s;
}
#password-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 21;
    background-color: rgba(2, 14, 41, 0.5);
}
#user-picture{
    width: 100vw;
    height: 30vh;
    top: 17vh;
    position: absolute;
    z-index: 22;
}
#user-picture img{
    width: 30vh;
    height: 30vh;
}
#user-name{
    width: 100vw;
    top: 48vh;
    position: absolute;
    z-index: 22;
    font-size: 4vh;
    color: #fff;
}
#password-holder{
    width: 100vw;
    height: 14vh;
    top: 54vh;
    position: absolute;
    z-index: 22;
}
#password-field{
    width: 18vw;
    min-width: 24vh;
    height: 5.5vh;
    font-size: 2.6vh;
    border: 0.3vh solid rgba(2, 14, 41, 0.7);
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 0 2vh 0 2vh;
    caret-color: #222;
    color: #222;
}
#password-go{
    height: 6.1vh;
    width: 6.1vh;
    margin-left: -1vh;
    background-color: rgba(2, 14, 41, 0.4);
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/arrow-go.png');
    background-size: 3.5vh;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#password-status{
    margin-left: -2vh;
    margin-top: 1vh;
    font-size: 2.5vh;
    color: #fff;
    animation: swing 6s infinite;
}
#hint-holder{
    width: 100vw;
    height: 8vh;
    top: 92vh;
    position: absolute;
    z-index: 22;
}
#hint{
    height: 8vh;
    width: 8vh;
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
#hint:hover{
    background: rgba(211, 218, 255, 0.2);
    opacity: 1;
}
#hint img{
    height: 5vh;
    width: 5vh;
    padding-top: 1.5vh;
}
#lock-background{
    position: absolute;
    z-index: 30;
    background-image: url('../img/lock-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    top: 0vh;
    cursor: pointer;
    transition: 0.4s;
}
#lock-hour{
    position: absolute;
    z-index: 31;
    left: 4vh;
    top: 78vh;
    font-size: 8vh;
}
#lock-date{
    position: absolute;
    z-index: 31;
    left: 4vh;
    top: 87vh;
    font-size: 4vh;
}
#hint-modal-holder{
    width: 100vw;
    height: 94vh;
    padding-top: 6vh;
    position: absolute;
    z-index: 60;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
#hint-modal{
    max-width: 120vh;
    width: 90vw;
    height: 80vh;
    transition: 0.4s;
    background: #222;
    opacity: 0;
    border: 0.3vh solid rgba(255, 237, 136, 1);
    border-top: none;
    color: #fff;
    font-size: 4vh;
    box-shadow: 0 0 2vh rgba(34, 34, 34, 0.5);
}
#hint-modal-topbar{
    width: 100%;
    height: 6vh;
    background-color: rgba(255, 237, 136, 1);
    color: #222;
}
#hint-modal-topbar p{
    padding: 1.1vh 0 0 2vh;
    width: 18vh;
    font-size: 2.5vh;
}
#hint-modal-content{
    width: 100%;
    height: 74vh;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}
#hint-modal-content img{
    height: 6vh;
    width: 6vh;
    vertical-align: middle;
}
#hint-modal-content input{
    margin-top: 4vh;
    min-width: 16vh;
    width: 16%;
    height: 6vh;
    border: 0.3vh solid #fff;
    color: #fff;
    font-size: 2.5vh;
    background: none;
    cursor: pointer;
    transition: 0.2s;
}
#hint-modal-content input:hover{
    color: #222;
    background: #fff;
}

#hint-modal-content p{
    width: 90%;
    font-size: 3vh;
    text-align: justify;
    text-indent: 5vh;
}
#hint-modal-content p:nth-of-type(1){
    padding-top: 3vh !important;
    font-size: 5vh !important;
    text-indent: 0vh !important;
}
#hint-modal-content p:nth-of-type(2){
    padding-top: 3vh !important;
}
#hint-modal-content::-webkit-scrollbar {
    width: 0.8vh;
    background: transparent;
}
#hint-modal-content::-webkit-scrollbar-thumb {
    background:#fff;
}
#program-holder{
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
    position: absolute;
    z-index: 50;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
#program{
    max-width: 120vh;
    width: 90vw;
    height: 80vh;
    transition: 0.4s;
    background: #222;
    opacity: 0;
    border: 0.3vh solid rgba(255, 237, 136, 1);
    border-top: none;
    color: #fff;
    font-size: 4vh;
    box-shadow: 0 0 2vh rgba(34, 34, 34, 0.5);
}
#program-top-bar{
    width: 100%;
    height: 6vh;
    background-color: rgba(255, 237, 136, 1);
    color: #222;
}
#program-top-bar p{
    padding: 1.1vh 0 0 2vh;
    width: 26vh;
    font-size: 2.5vh;
    display: inline-block;
}
#program-icon{
    height: 4vh;
    width: 4vh;
    display: inline-block;
    vertical-align: -1.1vh;
}
#program-close{
    height: 4.5vh;
    width: 4.5vh;
    display: inline-block;
    background: rgb(238, 7, 7);
    cursor: pointer;
}
#program-hint{
    height: 4.5vh;
    width: 4.5vh;
    display: inline-block;
    cursor: pointer;
    animation: blink 3s infinite;
    background-color: rgb(59, 95, 255);
}
#program-content{
    width: 100%;
    height: 74vh;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}
#program-content::-webkit-scrollbar {
    width: 0.8vh;
    background: transparent;
}
#program-content::-webkit-scrollbar-thumb {
    background:#fff;
}
#google-logo{
    margin-top: 10vh;
    width: 28vh;
}
#google-search{
    width: 60%;
    min-width: 28vh;
    height: 7vh;
    border-radius: 10vh;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 2vh rgba(255, 255, 255, 0.3);
    display: block;
    margin-top: 2vh;
    font-size: 3vh;
    color: #333;
    padding: 0 3vh 0 3vh;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 3vh;
    caret-color: transparent;
}
.google-result{
    width: 100%;
    border-radius: 2vh;
    box-shadow: 0 0 2vh rgba(255, 255, 255, 0.3);
}
.result-holder{
    padding: 0 4vh 0 4vh;
    width: 24% !important;
    min-width: 24vh !important;
    margin-top: 6vh;
    display: inline-block;
    vertical-align: top;
}
.result-holder:nth-of-type(2){
    padding: 0;
}